<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/css/main.css" type="text/css" />
    <link rel="stylesheet" href="../public/css/animate.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h2>
        Syed Hussain
      </h2>
      <nav class="nav">
        <li><a href="#" class="nav-item">Home</a></li>
        <li><a href="#about" class="nav-item">About</a></li>
        <li><a href="#work" class="nav-item">Work</a></li>
        <li><a href="#contact" class="nav-item">Contact</a></li>
      </nav>
    </header>

    <section class="hero">
      <div
        class="background-image"
        style="background-image: url(../public/img/backgroundImg2.jpg);"
      ></div>
      <div class="hero-content-area">
        <div class="animated flipInX">
          <h1>Engineer, Developer, Thinker</h1>

          <h3>Welcome to my portfolio!</h3>
        </div>
        <a href="#" class="btn">Button</a>
      </div>

      <section id="about">
        <h3 class="heading">About</h3>
        <p class="content animated fadeInLeft">
          I am an Electrical Engineering graduate from the University of
          Alberta. I have just completed my MSc. in Signals and Image
          Processing, and I am now in the process of looking for work. I have a
          strong passion for web development, and I am constantly looking to
          upgrade my skills. I am working towards becoming a full stack
          developer. With the programming skills I honed over the years in my
          undergraduate and graduate classes, along with my increasing knowledge
          of web development, I want to create enagaging, intuitive, and elegant
          web applications that are
        </p>
      </section>

      <section id="work">
        <h3 class="heading">Work</h3>
      </section>

      <section id="contact">
        <h3 class="heading">Contact</h3>
      </section>
    </section>
  </body>
</html>
